@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ragini, Charitravan, Buxar, Bihar<br />
   Pin Code:802101<br />
    <abbr title="Phone">Mob:</abbr>
    9999999999
</address>

