@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC 5 CRUD Operation Using Entity Framework 6.4.4 </h1>
    <p class="lead">I have created Crud operation for Book's details.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Project Details</h2>
        <p>
            We can perform simple crud operation on book details based on:-BookName, Price, Category, AuthorName, Edition, BookCondition and Availability.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Intro</h2>
        <p>Built from scratch.</p>
    </div>

    <div class="col-md-4">
        <h2>Purpose</h2>
        <p>We can easily perform crud operations here.</p>
    </div>
</div>